# Likes Report
### Mackenzee Stout
### Sep 10, 2025

## Seaction 1
Questions about data<br>
1. I think the source of the data is made up of things we already follow and like, and part of it is made of things the algorithm is recommending us that we're coming across and adding to our likes.
2. I think the data was created to help the algorithm decide what to recommend me when I am using the app. This would be what types of ads to recommend, posts, accounts, ect.
3. The data can be reliable when it comes to seeing certain ads that the user might be interested in and can help the user expand their interests.
4. I think the data would be unreliable when it comes to the algorithm giving me certain things that might not be real or showing me websites that might not be as reliable as verified brand ads.

## Section 2
Open and load the json file

In [4]:
# These are the imports needed
import json
import pandas as pd
import matplotlib as plt

In [5]:
path = r"/Users/kenzee.stout/Desktop/instagram-kenzee_stout-2025-08-25-Nl8SwwOO/your_instagram_activity/likes/liked_posts.json"
with open(path) as l:
    dict = json.load(l)

## Seaction 3
Convert the data into DataFrame object

In [6]:
df = pd.DataFrame(dict)
df.head()

                                   likes_media_likes
0  {'title': 'wwe', 'string_list_data': [{'href':...
1  {'title': 'wwe', 'string_list_data': [{'href':...
2  {'title': 'olobersykes', 'string_list_data': [...
3  {'title': 'bbcradio1', 'string_list_data': [{'...
4  {'title': 'winstonandspooky', 'string_list_dat...

In [7]:
dict.keys()

dict_keys(['likes_media_likes'])

In [8]:
df_tidy = pd.DataFrame(dict['likes_media_likes'])
df_tidy.head()

              title                                   string_list_data
0               wwe  [{'href': 'https://www.instagram.com/p/DNyVtbc...
1               wwe  [{'href': 'https://www.instagram.com/reel/DNyS...
2       olobersykes  [{'href': 'https://www.instagram.com/reel/DJhW...
3         bbcradio1  [{'href': 'https://www.instagram.com/reel/DNtt...
4  winstonandspooky  [{'href': 'https://www.instagram.com/p/DNZE9g9...

## Section 4
Timestamp Values

In [9]:
df_tidy['string_list_data'].iloc[0]

[{'href': 'https://www.instagram.com/p/DNyVtbcUkQ8/',
  'value': 'รฐ\x9f\x91\x8d',
  'timestamp': 1756145064}]

In [10]:
type(df_tidy['string_list_data'].iloc[0])

list

In [11]:
len(df_tidy['string_list_data'].iloc[0])

1

In [12]:
df_tidy['string_list_data'].iloc[0][0]

{'href': 'https://www.instagram.com/p/DNyVtbcUkQ8/',
 'value': 'รฐ\x9f\x91\x8d',
 'timestamp': 1756145064}

In [13]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1756145064

In [14]:
df_tidy['Time of Like'] = [i[0]['timestamp'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like
0,wwe,[{'href': 'https://www.instagram.com/p/DNyVtbc...,1756145064
1,wwe,[{'href': 'https://www.instagram.com/reel/DNyS...,1756145033
2,olobersykes,[{'href': 'https://www.instagram.com/reel/DJhW...,1756069165
3,bbcradio1,[{'href': 'https://www.instagram.com/reel/DNtt...,1756069122
4,winstonandspooky,[{'href': 'https://www.instagram.com/p/DNZE9g9...,1756069010

In [15]:
from datetime import datetime
df_tidy['Date of Like'] = [datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like,Date of Like
0,wwe,[{'href': 'https://www.instagram.com/p/DNyVtbc...,1756145064,2025-08-25 14:04:24
1,wwe,[{'href': 'https://www.instagram.com/reel/DNyS...,1756145033,2025-08-25 14:03:53
2,olobersykes,[{'href': 'https://www.instagram.com/reel/DJhW...,1756069165,2025-08-24 16:59:25
3,bbcradio1,[{'href': 'https://www.instagram.com/reel/DNtt...,1756069122,2025-08-24 16:58:42
4,winstonandspooky,[{'href': 'https://www.instagram.com/p/DNZE9g9...,1756069010,2025-08-24 16:56:50

In [16]:
df_tidy['href'] = [i[0]['href'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href
0,wwe,[{'href': 'https://www.instagram.com/p/DNyVtbc...,1756145064,2025-08-25 14:04:24,https://www.instagram.com/p/DNyVtbcUkQ8/
1,wwe,[{'href': 'https://www.instagram.com/reel/DNyS...,1756145033,2025-08-25 14:03:53,https://www.instagram.com/reel/DNySH19UpzZ/
2,olobersykes,[{'href': 'https://www.instagram.com/reel/DJhW...,1756069165,2025-08-24 16:59:25,https://www.instagram.com/reel/DJhW8byMC3l/
3,bbcradio1,[{'href': 'https://www.instagram.com/reel/DNtt...,1756069122,2025-08-24 16:58:42,https://www.instagram.com/reel/DNtt4vz2gxg/
4,winstonandspooky,[{'href': 'https://www.instagram.com/p/DNZE9g9...,1756069010,2025-08-24 16:56:50,https://www.instagram.com/p/DNZE9g9xuEn/

In [17]:
df_tidy['value'] = [i[0]['value'] for i in df_tidy['string_list_data']]

df_tidy.head()

,title,string_list_data,Time of Like,Date of Like,href,value
0,wwe,[{'href': 'https://www.instagram.com/p/DNyVtbc...,1756145064,2025-08-25 14:04:24,https://www.instagram.com/p/DNyVtbcUkQ8/,รฐยยย
1,wwe,[{'href': 'https://www.instagram.com/reel/DNyS...,1756145033,2025-08-25 14:03:53,https://www.instagram.com/reel/DNySH19UpzZ/,รฐยยย
2,olobersykes,[{'href': 'https://www.instagram.com/reel/DJhW...,1756069165,2025-08-24 16:59:25,https://www.instagram.com/reel/DJhW8byMC3l/,รฐยยย
3,bbcradio1,[{'href': 'https://www.instagram.com/reel/DNtt...,1756069122,2025-08-24 16:58:42,https://www.instagram.com/reel/DNtt4vz2gxg/,รฐยยย
4,winstonandspooky,[{'href': 'https://www.instagram.com/p/DNZE9g9...,1756069010,2025-08-24 16:56:50,https://www.instagram.com/p/DNZE9g9xuEn/,รฐยยย

In [18]:
df_tidy.drop(columns = ['string_list_data'])

,title,Time of Like,Date of Like,href,value
0,wwe,1756145064,2025-08-25 14:04:24,https://www.instagram.com/p/DNyVtbcUkQ8/,รฐยยย
1,wwe,1756145033,2025-08-25 14:03:53,https://www.instagram.com/reel/DNySH19UpzZ/,รฐยยย
2,olobersykes,1756069165,2025-08-24 16:59:25,https://www.instagram.com/reel/DJhW8byMC3l/,รฐยยย
3,bbcradio1,1756069122,2025-08-24 16:58:42,https://www.instagram.com/reel/DNtt4vz2gxg/,รฐยยย
4,winstonandspooky,1756069010,2025-08-24 16:56:50,https://www.instagram.com/p/DNZE9g9xuEn/,รฐยยย
...,...,...,...,...,...
3458,chonkycatvids,1724730961,2024-08-26 23:56:01,https://www.instagram.com/reel/C74Zju8pa3K/,รฐยยย
3459,mercury._girl,1724708337,2024-08-26 17:38:57,https://www.instagram.com/p/C_GZsSZvu26/,รฐยยย
3460,perfectsayings,1724708334,2024-08-26 17:38:54,https://www.instagram.com/p/C_Jaipuy43y/,รฐยยย
3461,rhearipley_wwe,1724708326,2024-08-26 17:38:46,https://www.instagram.com/p/C_GnxJPxhK6/,รฐยยย
3462,meem.queenz,1724708323,2024-08-26 17:38:43,https://www.instagram.com/reel/C_DgQgYxp_G/,รฐยยย

## Section 5
Summerize

In [19]:
df_tidy.groupby('title').count().sort_values('value', ascending = False)

                     string_list_data  Time of Like  Date of Like  href  value
title
wwe                               430           430           430   430    430
jr__ranakazi                      189           189           189   189    189
rhearipley_wwe                     85            85            85    85     85
alexwarren                         84            84            84    84     84
intr0vert.vikx                     47            47            47    47     47
...                               ...           ...           ...   ...    ...
harrysendit                         1             1             1     1      1
harmonyheartfelt                    1             1             1     1      1
happycouplesconnect                 1             1             1     1      1
happycat.1989                       1             1             1     1      1
zuzik_life                          1             1             1     1      1

[1807 rows x 5 columns]

## Section 6
Hypothesis<br>
Who do I interact with the most? I think using this type of data would help determine what kind of accounts I interact with the most when I'm on instagram.

## Section 7
The file I chose was my story likes from Instagram. I chose this file because I don't always like stories but I would want to know whos stories have I liked and find out who I do interact with more than others.

## Section 8
Open and load the json file

In [20]:
path = r"/Users/kenzee.stout/Desktop/instagram-kenzee_stout-2025-08-25-Nl8SwwOO/your_instagram_activity/story_interactions/story_likes.json"
with open(path) as l:
    dict = json.load(l)

## Section 9
Convert the data into DataFrame Object

In [21]:
df = pd.DataFrame(dict)
df.head(10)

                        story_activities_story_likes
0  {'title': 'gh0stxmax', 'string_list_data': [{'...
1  {'title': 'olobersykes', 'string_list_data': [...
2  {'title': 'olobersykes', 'string_list_data': [...
3  {'title': 'gh0stxmax', 'string_list_data': [{'...
4  {'title': 'rhearipley_wwe', 'string_list_data'...
5  {'title': 'rhearipley_wwe', 'string_list_data'...
6  {'title': 'piercethevic', 'string_list_data': ...
7  {'title': 'gh0stxmax', 'string_list_data': [{'...
8  {'title': 'gh0stxmax', 'string_list_data': [{'...
9  {'title': 'rhearipley_wwe', 'string_list_data'...

In [22]:
dict.keys()

dict_keys(['story_activities_story_likes'])

In [23]:
df_tidy = pd.DataFrame(dict['story_activities_story_likes'])
df_tidy.head(10)

            title             string_list_data
0       gh0stxmax  [{'timestamp': 1755710864}]
1     olobersykes  [{'timestamp': 1753830833}]
2     olobersykes  [{'timestamp': 1753634109}]
3       gh0stxmax  [{'timestamp': 1750541709}]
4  rhearipley_wwe  [{'timestamp': 1749315763}]
5  rhearipley_wwe  [{'timestamp': 1749315758}]
6    piercethevic  [{'timestamp': 1748029623}]
7       gh0stxmax  [{'timestamp': 1747787778}]
8       gh0stxmax  [{'timestamp': 1743430406}]
9  rhearipley_wwe  [{'timestamp': 1742332423}]

### Timestamp Values

In [24]:
df_tidy['string_list_data'].iloc[0]

[{'timestamp': 1755710864}]

In [25]:
df_tidy['string_list_data'].iloc[0][0]

{'timestamp': 1755710864}

In [26]:
df_tidy['string_list_data'].iloc[0][0]['timestamp']

1755710864

In [27]:
df_tidy['Time of Like'] = [i[0]['timestamp'] for i in df_tidy['string_list_data']]

df_tidy.head(10)

            title             string_list_data  Time of Like
0       gh0stxmax  [{'timestamp': 1755710864}]    1755710864
1     olobersykes  [{'timestamp': 1753830833}]    1753830833
2     olobersykes  [{'timestamp': 1753634109}]    1753634109
3       gh0stxmax  [{'timestamp': 1750541709}]    1750541709
4  rhearipley_wwe  [{'timestamp': 1749315763}]    1749315763
5  rhearipley_wwe  [{'timestamp': 1749315758}]    1749315758
6    piercethevic  [{'timestamp': 1748029623}]    1748029623
7       gh0stxmax  [{'timestamp': 1747787778}]    1747787778
8       gh0stxmax  [{'timestamp': 1743430406}]    1743430406
9  rhearipley_wwe  [{'timestamp': 1742332423}]    1742332423

In [28]:
from datetime import datetime
df_tidy['Date of Like'] = [datetime.fromtimestamp(i[0]['timestamp']) for i in df_tidy['string_list_data']]

df_tidy.head(10)

,title,string_list_data,Time of Like,Date of Like
0,gh0stxmax,[{'timestamp': 1755710864}],1755710864,2025-08-20 13:27:44
1,olobersykes,[{'timestamp': 1753830833}],1753830833,2025-07-29 19:13:53
2,olobersykes,[{'timestamp': 1753634109}],1753634109,2025-07-27 12:35:09
3,gh0stxmax,[{'timestamp': 1750541709}],1750541709,2025-06-21 17:35:09
4,rhearipley_wwe,[{'timestamp': 1749315763}],1749315763,2025-06-07 13:02:43
5,rhearipley_wwe,[{'timestamp': 1749315758}],1749315758,2025-06-07 13:02:38
6,piercethevic,[{'timestamp': 1748029623}],1748029623,2025-05-23 15:47:03
7,gh0stxmax,[{'timestamp': 1747787778}],1747787778,2025-05-20 20:36:18
8,gh0stxmax,[{'timestamp': 1743430406}],1743430406,2025-03-31 10:13:26
9,rhearipley_wwe,[{'timestamp': 1742332423}],1742332423,2025-03-18 17:13:43

In [29]:
df_tidy.drop(columns = ['string_list_data'])

             title  Time of Like        Date of Like
0        gh0stxmax    1755710864 2025-08-20 13:27:44
1      olobersykes    1753830833 2025-07-29 19:13:53
2      olobersykes    1753634109 2025-07-27 12:35:09
3        gh0stxmax    1750541709 2025-06-21 17:35:09
4   rhearipley_wwe    1749315763 2025-06-07 13:02:43
5   rhearipley_wwe    1749315758 2025-06-07 13:02:38
6     piercethevic    1748029623 2025-05-23 15:47:03
7        gh0stxmax    1747787778 2025-05-20 20:36:18
8        gh0stxmax    1743430406 2025-03-31 10:13:26
9   rhearipley_wwe    1742332423 2025-03-18 17:13:43
10       gh0stxmax    1741494625 2025-03-08 23:30:25
11      alexwarren    1736979195 2025-01-15 17:13:15
12      bjcalvillo    1736527730 2025-01-10 11:48:50
13        encluley    1734558571 2024-12-18 16:49:31
14        louist91    1729216749 2024-10-17 21:59:09
15        louist91    1729216747 2024-10-17 21:59:07
16       gh0stxmax    1725985502 2024-09-10 12:25:02
17    stu_pidcupid    1725982235 2024-09-10 11:30:35

## Section 10
Describe what the data in the DataFrame represents<br>
The data represents whos Instagram stories I have interacted the most in the last year. I think the DataFrame did a good job on organizing the variables and I think it helps when it comes to looking at who and when I liked a story. I think the graph could help test my hypothesis but I also think it would be a little better if I had a few more accounts I could go off of.